    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="regusername" class="form-control" placeholder="Username" required autofocus>
                <input type="email" id="regemail" class="form-control" placeholder="Email" required>
                <input type="password" id="regpassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" id="register" type="submit">Create Account</button>
            </form><!-- /form -->
            <a href="#login" class="forgot-password">
                Login
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->